name: Pull Request Workflow
on: pull_request

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18.16.0"
      - name: Run mangs/super-cache-action
        uses: ./
        id: super-cache
      - if: steps.super-cache.outputs.cache-hit != 'true'
        run: npm ci

      # Task execution
      - run: npm run validate:formatting
